.list_products {
	padding-top: 9.4rem;

	overflow: hidden; // ????? feature))))))
}

.list_products__wrap {

}

.list_products__tabs {
	display: flex;
	max-width: 75.3rem;
	margin: 0 auto;

	border-bottom: 1px solid $black_1;

	&:not(:last-child) {
		@include bp($point_4, min) {
			margin-bottom: 10.5rem;
		}

		@include bp($point_4 - 1) {
			margin-bottom: 5rem;
		}
	}
}

.list_products__tabs_title {
	position: relative;

	width: 33.33%;

	font-weight: 700;
	text-align: center;
	letter-spacing: 0.07em;

	color: $gray_1;

	&:not(:last-child) {
		@include bp($point_4, min) {
			margin-right: 10rem;
		}

		@include bp($point_4 - 1) {
			margin-right: 2rem;
		}
	}

	&.list_products__tabs_title--active_mod {
		color: $black_1;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			width: 100%;
			height: 6px;

			background-color: $black_1;
		}
	}

	@include bp($point_4, min) {
		padding-bottom: 2.7rem;

		font-size: 1.8rem;
	}

	@include bp($point_4 - 1, $point_6) {
		padding-bottom: 2rem;

		font-size: 1.6rem;
	}

	@include bp($point_6 - 1) {
		padding-bottom: 2rem;

		font-size: 1.2rem;
	}
}

.list_products__list_w {
	&:not(:last-child) {
		margin-bottom: 7.3rem;
	}
}

.list_products__list {
	display: flex;
	flex-wrap: wrap;

	@include bp($point_0, min) {
		margin: 0 -6.3rem -9.6rem 0;
	}

	@include bp($point_0 - 1) {
		margin: 0 -3rem -6rem 0;
	}

	& .product_item {
		@include bp($point_0, min) {
			padding: 0 6.3rem 9.6rem 0;
		}

		@include bp($point_0 - 1) {
			padding: 0 3rem 6rem 0;
		}
	}
}

.list_products__btn_w {
	display: block;

	text-align: center;
}
