@import 'reset';

:root {
	--full-screen: calc(var(--vh, 1vh) * 100);


	@include bp($point_4, min) {
		--height-header: 13.7rem;
	}

	@include bp($point_4 - 1) {
		--height-header: 8.7rem;
	}

	// --height-footer: 28.6rem;
	
	--footer-indent-right: 7.6rem;

	@include bp($point_0, min) {
		--gl-indent: 11.7rem;
	}

	@include bp($point_0 - 1, $point_4) {
		--gl-indent: 3rem;
	}

	@include bp($point_4 - 1) {
		--gl-indent: 1rem;
	}
}

html {
	height: 100%;
	font: 400 10px $font_1;

	font-size: 10px;
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	&.body--open_menu {
		overflow: hidden;
	}

	&.body--open_popup {
		overflow: hidden;

		& .body_overlay {
			transform: translateX(0);
		}
	}

	@supports (display: grid) {
		display: block;
	}
}

.body_overlay {
	@include stretch;
	z-index: 105;

	transform: translateX(-100%);

	background-color: rgba($black_1, .7);

	transition: transform .3s ease;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $white;

	opacity: 1;
	transition: opacity 0.3s;

	z-index: 1000;

	.body--loaded & {
		pointer-events: none;
		opacity: 0;
	}
}

.wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto!important;
	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;

	flex: 1 0 auto;

	@include bp($point_4 - 1) {
		padding: var(--height-header) 0 0;
	}
}

a {
	text-decoration: none;
	color: $color_link_base;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
