extends layout/layout

block vars
	//- include ./templates/mixins/m-example
	- array = {body_class:'', title_inner:'Index'}

block content_block
	include ./blocks/hero
	include ./blocks/sale_block
	include ./blocks/list_products
